<nav class="navbar navbar-expand-lg userNav border-bottom border-primary sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home"><i class="fa-solid fa-book-open-reader nav-logo"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <% if (!currentUser) { %>
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/admin/login">About us</a>
                    <!-- if the user is not login then will do show this part -->
                    <a class="nav-link" href="/projects">Projects</a>
                    <a class="nav-link" href="/contactus">Contact</a>
                    <a class="nav-link" href="/contact">Read Docs</a>
                    <% } %>
                        <% if (currentUser) { %>
                            <!-- //if the user is login then only he will be able to see the logout option -->
                            <a class="nav-link" href="/adminprofile"><b>Profile</b></a>
                            <a class="nav-link" href="/students"><b>See students</b></a>
                            <% } %>
            </div>

            <div class="navbar-nav ms-auto">
                <% if (!currentUser) { %>
                    <!-- if the user is not login then will do show this part -->
                    <a class="nav-link " aria-current="page" href="/signup"><b>SignUp</b></a>
                    <a class="nav-link" href="/login"><b>login</b></a>
                    <% } %>
                        <% if (currentUser) { %>
                            <!-- //if the user is login then only he will be able to see the logout option -->
                            <a class="nav-link" href="/logout"><b>logout</b></a>
                            <% } %>
            </div>
        </div>
    </div>
</nav>