<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>About us</h3>
    <p>Backed project for study room managment system</p>
    <a href="/">home</a>
</body>
</html>