<% layout('layouts/boilerplate') -%>

    <body>
        <ul>
            <li>
                study room managment system
            </li>
            <li>
                Travellook
            </li>
        </ul>
    </body>