<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Sign up form</h1>
    <form action="/signup" method="post">
        <input type="text" name="username" id="" placeholder="username" required>
        <br>
        <br>
        <input type="password" name="password" id="" placeholder="password" required>
        <br><br>
        <input type="email" name="email" id="" placeholder="email" required>
        <br>
        <br>
        <input type="number" name="seats" id="" placeholder="Seating capacity of your library" required>
        <br><br>
        <input type="number" name="fees" id="" placeholder="Enter the monthly fees" required>
        <br>
        <br>
        <button>signup</button>
    </form>
</body>

</html>